<!DOCTYPE html>
{% load inplace_edit %}
{% load staticfiles %}
<script src="{% static 'jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'tools.js' %}"></script>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

{% inplace_static %}
<html {% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BoulderBlueMouse</title>

    {% inplace_css %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'mouse.css' %}" />

</head>

<body id="{% block body_id %}{% endblock %}">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'mouse_viewer' %}"><strong>CU Boulder</strong> BlueMouse</a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'mouse_viewer' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'mouse_viewer_select_commands' %}">Send</a>
                </li>
                <li>
                    <a href="{% url 'mouse_viewer_log' %}">Log</a>
                </li>
                 <li>
                    <a href="{% url 'mouse_receive_data_log' %}">Received Data</a>
                </li>
                <li>
                    <a href="/admin/blue_views/scheduledcommand/">Scheduled Commands</a>
                </li>
                 <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">User: <strong>{{ request.user|capfirst }}</strong></p>
        </div>
    </nav>
 <div class="container">
    <p id="timezone_p"></p>

    </div>
    <div class="container">
        <div class="page-header">
            <h2>{% block title %}{% endblock %}</h2>

        </div>

        {% block content %}{% endblock content %}
    </div>

    {% inplace_js %}
    <script src="{% static 'mouse.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
</body>
<script>
window.doTimezoneStuff('{{ tzone }}', {{ tdelta }});
</script>
</html>
