{% extends "layout2.html" %}

{% block title %}
    Received Data : logs of only received data from chips
{% endblock title %}

{% block content %}

        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Received Date and Time</th>
                        <th scope="col">Chip Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Data</th>
                        <th scope="col">Result</th>
                     </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                {% if log.error %}
                <tr>
                    <th scope="row">{{log.received_time}}</th>
                    <td>{{log.send_chip}}</td>
                    <td>{{log.type_data}}</td>
                    <td>{{log.t_result}}</td>
                    <td>{{log.error}}</td>
                </tr>
                {% else %}
                <tr>
                    <th scope="row">{{log.received_time}}</th>
                    <td>{{log.send_chip}}</td>
                    <td>{{log.type_data}}</td>
                    <td>{{log.t_result}}</td>
                    <td>Success</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    <div class="pull-right">
        <button type="button" class="btn" onclick="open_csv(&quot;{% url 'mouse_receive_data_csv' %}&quot;)">
                    Load CSV
        </button>

    </div>


{% endblock content %}
