{% extends "layout2.html" %}

{% block title %}
    Data
{% endblock title %}

{% block content %}

        <div style="outline: 1px solid #eeeeee; box-shadow: 0 0 0 1pt #eeeeee;">
            {% for log in logs %}

            {% if log.error %}
            <p><span style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; color:red;font-weight:bold;">{{log.send_date}} {{log.chip_name}}  scheduled: {{log.scheduled}} {{log.command_category}} {{log.command_name}} ({{log.command_command}}, F: {{log.f}} Hz, P: {{log.p}}, N: {{log.n}} ): {{log.error}} </span></p>

            {% else %}
            <p><span style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; color:green;font-weight:bold;">{{log.send_date}} {{log.chip_name}}  scheduled: {{log.scheduled}} {{log.command_category}} {{log.command_name}} ({{log.command_command}}, F: {{log.f}} Hz, P: {{log.p}}, N: {{log.n}} ): Success </span></p>

            {% endif %}

            {% endfor %}

        </div>

    <div class="pull-right">
        <button type="button" class="btn" onclick="open_csv(&quot;{% url 'mouse_receive_data_csv' %}&quot;)">
                    Load CSV
        </button>

    </div>


{% endblock content %}
